

                <div class="row">
                                <div class="col-md-12">

                                        <div class="row headerBackground">
                                                <div class="offset-2 col-md-3">
                                                        <div class="row">
                                                                Last Pick  : &nbsp;
                                                                <div class="balls col-md-2">{{lastPick}}</div>
                                                        </div>
                                                </div>
                                                <div class="col-md-3">
                                                        <input class="btn-sm btn-primary" type="button" value="Next Pick" (click)="getCurrentPick()">
                                                </div>
                            
                                                <div class="col-md-4">
                                                    <div class="row">
                                                            &nbsp;&nbsp; Previous Picks  : &nbsp;
                                                            <div class="balls col-md-1" *ngFor="let item of last5Picks">{{item.CurrentPick}}</div>  
                                                    </div>
                                                 
                                                 </div>
                                                
                                            </div>
                                             
                                </div>
                </div>

               
                


