
     <div class="row offset-1">
                <table border="0" cellspacing="0" cellpadding="0" class="col-md-2 marginBL" *ngFor="let ticket of data.tickets; let i = index" id="{{ 'box' + i }}">
                                <tr class="row" *ngFor = "let row of ticket.ticket">
                                                        <td *ngFor ="let col of row">
                                                             <span class="boxes" [ngClass]="(pickedList.indexOf(col.number)) > -1 ?'picked':'unPicked'" id="{{col.frontEndID}}">
                                                                        {{col.number}}
                                                             </span> 
                                                        </td>
                                </tr>    
                </table>
     </div>   
     

      
       
