<h1>Bingo !!</h1>
<bingo-header #headerComponent></bingo-header>
<br/>
<bingo-grid [headerComponent]="headerComponent" #gridComponent></bingo-grid>  
<br/>
<bingo-footer [gridComponent]="gridComponent"></bingo-footer>