.balls{
    border:1px;
    border-style:solid;
    border-color:lightblue;
    background-color: white;
    display: block;
    height: 25px;
    width: 50px;
    text-align: center;
    color: blue;
    font-weight: bold;
    margin-right: 4px
}

h1 {
    text-align: center;
    color: blue;
    margin-top: 1em;
}

.headerBackground{
    background-color: lightgrey;
    font-style: inherit;
    padding: 10px;
    margin-top: 2%;
}

.bodyBackground{
    background-color: #EEF2F5;
    font-style: inherit;
}

.boxes{
    border:1px;
    border-style:solid;
    border-color:black;
    background-color: white;
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    color: blue;
    font-weight: bold;
}
.box{
    border:1px;
    border-style:solid;
    border-color:black;
    background-color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    color: blue;
    font-weight: bold;
}
.picked{
    background-color: yellow;
}

.marginBL{
    margin-bottom: 1em;
    margin-left: 3em;
}

.unPicked{
    background-color: white;
}